.btn-user{
    font-size: .8rem !important; 
    border-radius: 10rem !important;
    padding: .75rem 1rem !important;
}
.btn-facebook {
    color: #fff !important; 
    background-color: #3b5998!important; 
    border-color: #fff!important; 
}
.btn-google {
    color: #fff !important;
    background-color: #ea4335 !important;
    border-color: #fff !important;
}